<form (ngSubmit)="onSubmit()">
  <label class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-sky-600 bg-sky-200 uppercase last:mr-0 mr-1"> Nombre:</label>
  <input type="text" name="name" [(ngModel)]="nombre">
  <br>
  <label class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-sky-600 bg-sky-200 uppercase last:mr-0 mr-1">Correo electrónico:</label>
  <input type="email" name="email" [(ngModel)]="correo">
  <br>
  <button type="submit" >Enviar</button>
</form>